<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 border-bottom shadow-sm"
  style="background: linear-gradient(to right, #c9d6ff, #e2e2e2);">
  <h5 class="my-0 mr-md-auto font-weight-normal">EMPLOYEE APPRAISAL</h5>
  <nav class="my-2 my-md-0 mr-md-3">
    <a class="btn btn-outline-primary" routerLinkActive="active" routerLink="/employees-list">View Employees</a>
  </nav>
  <a class="btn btn-outline-primary" routerLinkActive="active" routerLink="/create-employee">Add Employee</a>
</div>

<router-outlet></router-outlet>
